# Python
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.coverage
htmlcov/
.chat_history

# Node
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
node_modules/
package-lock.json

# Distribution / packaging
dist/
dist-ssr/
build/
*.egg-info/
*.local

# Virtual environments
venv/
env/
.env/
.venv/
ENV/

# IDE specific files
.vscode/*
!.vscode/extensions.json
.idea/
*.swp
*.swo
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Environment variables
.env
.env.local

# Jupyter Notebook
.ipynb_checkpoints

# OS specific
.DS_Store
Thumbs.db

# Project specific
run.sh
