@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --font-family: "JetBrains Mono", monospace;
    --line-height: 1.2rem;
    --border-thickness: 2px;
    --text-color: #fff;
    --text-color-alt: #666;
    --background-color: #000;
    --background-color-alt: #eee;

    --font-weight-normal: 500;
    --font-weight-medium: 600;
    --font-weight-bold: 800;

    font-family: var(--font-family);
    font-optical-sizing: auto;
    font-weight: var(--font-weight-normal);
    font-style: normal;
    font-variant-numeric: tabular-nums lining-nums;
    font-size: 16px;
}

html {
    background-color: black;
    overflow: hidden;
}

body {
    /* padding: var(--line-height) 2ch; */
    max-width: calc(min(90ch, round(down, 100%, 1ch)));
    margin: 0 auto;
}

.hide-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari and Opera */
}

.thick-underline {
  text-decoration: underline;
  text-decoration-thickness: 2px;
}

button:focus,
input:focus,
textarea:focus {
    outline: none;
}

button:active {
    transform: translate(2px, 2px);
}

hr {
    position: relative;
    display: block;
    height: var(--line-height);
    margin-bottom: calc(var(--line-height) * 1.5) 0;
    border: none;
    color: var(--text-color);
}

hr:after {
    display: block;
    content: "";
    position: absolute;
    top: calc(var(--line-height) / 2 - var(--border-thickness));
    left: 0;
    width: 100%;
    border-top: calc(var(--border-thickness) * 3) double var(--text-color);
    height: 0;
}

h1 {
    color: white;
}

table {
  position: relative;
  top: calc(var(--line-height) / 2);
  width: calc(round(down, 100%, 1ch));
  border-collapse: collapse;
  margin: 0 0 calc(var(--line-height) * 2);
}

th, td {
  border: var(--border-thickness) solid var(--text-color);
  padding: 
    calc((var(--line-height) / 2))
    calc(1ch - var(--border-thickness) / 2)
    calc((var(--line-height) / 2) - (var(--border-thickness)))
  ;
  line-height: var(--line-height);
  vertical-align: top;
  text-align: left;
}
table tbody tr:first-child > * {
  padding-top: calc((var(--line-height) / 2) - var(--border-thickness));
}

th {
  font-weight: 700;
}

.width-min {
  width: 0%;
}
.width-auto {
  width: 100%;
}

.header {
  margin-bottom: calc(var(--line-height) * 2);
}
.header h1 {
  margin: 0;
}
.header tr td:last-child {
  text-align: right;
}
#input {
    position: absolute;
    margin-top: auto;
}

@layer utilities {
    .frosted-glass-pink {
        background: rgba(255, 0, 255, 0.2); /* White with transparency */
        backdrop-filter: blur(10px); /* Apply the blur effect */
        border: 1px solid rgba(255, 0, 255); /* Subtle border */
    }
    .frosted-glass-cyan {
        background: rgba(0, 255, 255, 0.2); /* White with transparency */
        backdrop-filter: blur(10px); /* Apply the blur effect */
        border: 1px solid rgba(0, 255, 255); /* Subtle border */
    }
    .no-scrollbar {
        scrollbar-width: none; /* Firefox */
        -ms-overflow-style: none; /* IE and Edge */
    }
    .no-scrollbar::-webkit-scrollbar {
        display: none; /* Chrome, Safari, Opera */
    }
    /* Custom scrollbar styling */
    .custom-scrollbar {
        scrollbar-width: thin; /* Firefox */
        scrollbar-color: rgba(255, 255, 255, 0.3) transparent; /* Firefox */
    }
    .custom-scrollbar::-webkit-scrollbar {
        width: 6px; /* width of the entire scrollbar */
    }
    .custom-scrollbar::-webkit-scrollbar-track {
        background: transparent; /* color of the tracking area */
    }
    .default-box {
        background: black;
        border: 2px solid white;
    }
}
